@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

$textPurple: #512051;

*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: spartan;
    
    

}

body{

    background-image: url(/images/bg-pattern-top-mobile.svg), url(/images/bg-pattern-bottom-mobile.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: top left, bottom right;
}


// variables

.container{

    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 3rem 2rem 1rem 2rem;






    .text{
    
        background: transparent;
        width: 327px;
        height: 220px;
    
        h2{
    
            color: $textPurple;
            font-weight: bold;
            font-size: 32px;
            line-height: 32px;
            text-align: center;
            letter-spacing: -1.14286px;
            padding-bottom: 1.5rem;
            background: transparent;
        }
    
        p{
    
            font-weight: 500;
            font-size: 15px;
            line-height: 25px;
            text-align: center;
            letter-spacing: -0.5px;
            color: #927B91;
            width: 327px;
            height: 100px;
            background: transparent;  
         }
    
    }

    .reviews{

        width: 327px;
        height: 266px;
        background: transparent;

        .reviews__container--1{

            width: 327px;
            height: 78px;
            background: #F7F2F7;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 1rem;           
            

            .reviews__starts{

                background: none;
                padding-bottom: .5rem;

                img{

                    padding-right: 6px;
                }
            }

            .reviews__text{
                color: $textPurple;
                font-weight: bold;
                font-size: 13px;
                line-height: 15px;
            }
            
        }

        .reviews__container--2{

            width: 327px;
            height: 78px;
            background: #F7F2F7;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 1rem;           
            

            .reviews__starts{

                background: none;
                padding-bottom: .5rem;

                img{

                    padding-right: 6px;
                }
            }

            .reviews__text{
                color: $textPurple;
                font-weight: bold;
                font-size: 13px;
                line-height: 15px;
            }
            
        }

        .reviews__container--3{

            width: 327px;
            height: 78px;
            background: #F7F2F7;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 1rem;           
            

            .reviews__starts{

                background: none;
                padding-bottom: .5rem;

                img{

                    padding-right: 6px;
                }
            }

            .reviews__text{
                color: $textPurple;
                font-weight: bold;
                font-size: 13px;
                line-height: 15px;
            }
            
        }
    }

    



        .cards{
    
            margin-top: 1rem;
    
            .cards__card{
    
                width: 327px;
                height: 248px;
                background: #512051;
                border-radius: 8px;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                padding: 2rem;
                
    
                .cards__card--user{
    
                    display: flex;
                    flex-direction: row;
    
                    .cards__card--user--smith{
    
                        background-image: url(/images/image-colton.jpg);
                        background-repeat: no-repeat;
                        width: 40px;
                        height: 40px;
                        background-size: cover;
                        border-radius: 50%;
                    }

                    .cards__card--user--irene{
    
                        background-image: url(/images/image-irene.jpg);
                        background-repeat: no-repeat;
                        width: 40px;
                        height: 40px;
                        background-size: cover;
                        border-radius: 50%;
                    }

                    .cards__card--user--anne{
    
                        background-image: url(/images/image-anne.jpg);
                        background-repeat: no-repeat;
                        width: 40px;
                        height: 40px;
                        background-size: cover;
                        border-radius: 50%;
                    }

                    .cards__card--user--info{

                        
                        width: 105px;
                        height: 40px;
                        margin-left: 2rem;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        gap: 5px;

                        h3{

                            font-style: normal;
                            font-weight: bold;
                            font-size: 13px;
                            line-height: 15px; 
                            color: #fff;
                        }

                        span{

                            font-weight: normal;
                            font-size: 13px;
                            line-height: 15px;
                            color: #EE69A4;
                        }
                    }
    
                    
    
                }

                .cards__card--text{

                    padding-top: 1.5rem;
                    color:white;
                    font-weight: 500;
                    font-size: 13px;
                    line-height: 22px;
                    letter-spacing: -0.232143px;


                }
    
            }
    
        }
    
}

@media screen and (min-width:1024px){


    body{
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(/images/bg-pattern-top-desktop.svg), url(/images/bg-pattern-bottom-desktop.svg);
        height: 100vh;
    }

    .container{
        width: 1129px;
        height: 593px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
       
      
        

        
    }
    .text{

        grid-column: 1/2;
        grid-row: 1/2;
        
            h2{

                font-size: 48px;

            }
        
        
    }
    .reviews{

        grid-column: 2/3;
        grid-row: 1/2;
        width: 540px;
        height: 200px;
        display: grid;
        grid-template-rows: repeat(3,1fr);
        

            .reviews__container--1{

                width: 445px !important;
                height: 56px !important;
                flex-direction: row !important; 
                justify-content: space-around !important;
                justify-self: start !important;
                

                    .reviews__starts{

                        padding-bottom: 0 !important; 
                    }
            }

            .reviews__container--2{

                width: 445px !important;
                height: 56px !important;
                width: 445px !important;
                height: 56px !important;
                flex-direction: row !important; 
                justify-content: space-around !important;
                

                    .reviews__starts{

                        padding-bottom: 0 !important; 
                    }
            }

            .reviews__container--3{

                width: 445px !important;
                height: 56px !important;
                width: 445px !important;
                height: 56px !important;
                flex-direction: row !important; 
                justify-content: space-around !important;
                

                    .reviews__starts{

                        padding-bottom: 0 !important; 
                    }
            }
       
    }
    
    .cards{

        grid-column: 1/3;
        grid-row: 2/3;
        width: 1111px;
        height: 266px;
        display: flex;
        flex-direction: row;

        

    }


}

